
table td input{
  border : none;
 outline: none;
 background-color: transparent;
}
button{
  background-color: transparent;
  margin-right: 2px;
  border: none;
}

#inpt {
  background-color: white;
  border: none;
}